body {
  margin: 0;
  padding-top: 50px;
}
a {
  cursor: pointer;
}
.layout-tabs {
  margin-bottom: 10px;
}
.demo-widget-fluid {
  border: 1px solid blue;
  height: 100%;
}
.demo-widget-fluid > div {
  border: 1px solid red;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.thumbnail {
  height: 200px;
}
.thumbnail img.pull-right {
  width: 50px;
}
table.people {
  width: 100%;
}
table.people td {
  border: lightgray 1px solid;
  padding: 4px;
}
table.people td:last-child {
  text-align: center;
  width: 60px;
}
div.people {
  border: lightgray 1px solid;
  border-radius: 6px;
  display: inline-block;
  margin: 6px;
  padding: 4px 6px;
  width: 180px;
}
.empty {
  border: none;
  color: grey;
  text-align: left;
}
table.cart-detail {
  width: 100%;
}
table.cart-detail th:first-child,
table.cart-detail td:first-child {
  text-align: left;
}
table.cart-detail th {
  text-align: right;
}
table.cart-detail td {
  border: lightgray 1px solid;
  padding: 4px;
  text-align: right;
}
table.cart-detail td:last-child {
  text-align: center;
  width: 50px;
}
table.cart-detail td.empty {
  border: none;
  color: grey;
  text-align: left;
}
table.cart-summary td {
  padding: 4px;
}
table.cart-summary td:first-child {
  padding-right: 8px;
  text-align: right;
}
table.cart-summary td.empty {
  border: none;
  color: grey;
  text-align: left;
}
